@use "function" as *;
@use "layout" as *;

.bigmoSub {
  &__top {
    height: 584px;
    padding-top: 450px;
  }

  &__h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    padding-left: 10%;
  }

  &__h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
  }

  &__tab {
    display: flex;
    border-bottom: 1px solid #EDEDED;
    padding-inline: 10%;
    justify-content: space-between;

    @media (min-width: 1024px) and (max-width: 1400px) {
      padding-inline: 10%;
    }
  }

  &__tabLink {
    font-weight: 700;
    color: #747474;
    font-size: 24px;
    padding: 40px 3.65%;
    text-align: center;

    &.selected {
      color: #5340F2;
      position: relative;

      &:after {
        content: '';
        width: 100%;
        border-bottom: 4px solid #5340F2;
        position: absolute;
        left: 0;
        bottom: -1px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .bigmoSub {
    &__top {
      height: vw(200px);
      padding-top: vw(150px);
    }

    &__h1 {
      font-size: vw(20px);
      padding-left: 10%;
    }

    &__h2 {
      font-size: vw(16px);
      line-height: vw(26px);
    }

    &__tab {
      padding-inline: 0;
      justify-content: center;
    }

    &__tabLink {
      font-size: vw(14px);
      padding: vw(10px);
    }
  }
}