@use "function" as *;
@import "sub";

.bigmoInquire {
  padding-bottom: 160px;

  .bigmoSub__top {
    background: url(../img/contact/sub_visual.png) no-repeat center / cover;
  }

  .bigmoSub__tabLink {
    width: 50%;
  }

  &__cont {
    padding-inline: 10%;
    margin-top: 120px;

    .t1 {
      font-size: 46px;
      font-weight: 700;
      line-height: 60px;
    }

    .t2 {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      color: #747474;
      margin-top: 20px;
    }
  }

  &__form {
    margin-top: 100px;
    padding-inline: 10%;

    .subBtn {
      display: flex;
      margin: 100px auto 0;
      font-weight: 700;
      font-size: 20px;
      padding: 20px 80px;
      color: #fff;
      background: #5340F2;
      cursor: pointer;
    }
  }

  .form {
    &__list {
      margin-top: 20px;
      border-top: 4px solid #000;
      display: flex;
      flex-wrap: wrap;
      gap: 45px 80px;
      padding-top: 45px;
    }

    &__item {
      width: calc((100% - 80px) / 2);
      display: flex;
      align-items: center;

      &:last-child {
        width: 100%;
        display: block;

        div {
          margin-top: 20px;
        }
      }
    }

    &__h3 {
      width: 140px;
      font-size: 20px;
      font-weight: 700;

      i {
        color: #5340F2;
        font-weight: 700;
      }

      &+div {
        flex: 1;
      }
    }

    input {
      padding: 14px 0;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid #DADADA;
    }

    select {
      width: 100%;
      border: 0;
      padding: 14px 0;
      font-size: 16px;
      border-bottom: 1px solid #DADADA;
    }

    textarea {
      width: 100%;
      height: 230px;
      resize: none;
      padding: 20px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .bigmoInquire {
    padding-bottom: 0;

    .bigmoSub__tabLink {
      width: 50%;
    }

    &__cont {
      padding: vw(30px) vw(20px);
      margin-top: 0;

      .t1 {
        font-size: vw(16px);
        line-height: vw(22px);
        word-break: keep-all;
      }

      .t2 {
        font-size: vw(12px);
        line-height: vw(22px);
        margin-top: vw(15px);
        word-break: keep-all;
      }
    }

    &__form {
      margin-top: 0;
      padding-inline: vw(20px);

      .subBtn {
        margin: vw(20px) auto;
        font-size: vw(14px);
        padding: vw(20px) vw(80px);
      }
    }

    .form {
      &__list {
        margin-top: 0;
        border-top: 2px solid #000;
        gap: vw(20px) 80px;
        padding-top: vw(20px);
      }

      &__item {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        &:last-child {
          width: 100%;
          display: block;

          div {
            width: 100%;
            margin-top: 20px;
          }
        }
      }

      &__h3 {
        width: auto;
        font-size: vw(12px);

        &+div {
          flex: 1;
          width: 100%;
        }
      }

      input {
        padding: vw(12px) 0;
        width: 100%;
        font-size: vw(12px);
      }

      select {
        padding: vw(14px) 0;
        font-size: vw(12px);
      }

      textarea {
        height: vw(100px);
        padding: vw(10px);
        font-size: vw(12px);
        box-sizing: border-box;
      }
    }
  }
}