@use "function" as *;
@import "sub";

.bigmoPartner {
  .bigmoSub__top {
    background: url(../img/bigmo/sub_visual.png) no-repeat center / cover;
  }

  &__list {
    padding: 120px 20%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (min-width: 1024px) and (max-width: 1400px) {
      padding: 120px 10%;
    }
  }

  &__logo {
    border: 1px solid #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: calc((100% - 60px) / 4);
  }
}

@media (max-width: 1023px) {
  .bigmoPartner {
    &__list {
      padding: vw(30px) vw(10px);
      gap: 20px;
    }

    &__logo {
      min-height: vw(50px);
      width: calc((100% - 40px) / 3);
    }
  }
}